/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.login-register-page-container .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: none;
  opacity: 100%;
  color: black;
  font-size: 2rem;
}
.login-register-page-container .header-bar .left {
  border: 1px solid white;
  padding: 1%;
  opacity: 100%;
  color: white;
}
.login-register-page-container .header-bar .left:hover {
  transform: scale(1.1);
  color: #c75050;
}
.login-register-page-container .header-bar .center {
  font-size: 2rem;
  background-color: #c75050;
  padding: 1%;
  border-radius: 50px;
  color: white;
  opacity: 100%;
}
.login-register-page-container .header-bar .center:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
.login-register-page-container .header-bar .right {
  font-size: 1.5rem;
  padding: 0.5%;
  margin-right: 1%;
  opacity: 100%;
  text-decoration: none;
}
.login-register-page-container .header-bar .right:hover {
  color: #c75050;
  transform: scale(1.2);
}
.home-page-container .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: none;
  opacity: 100%;
  color: black;
  font-size: 2rem;
}
.home-page-container .header-bar .left {
  font-size: 2rem;
  background-color: #c75050;
  padding: 1%;
  border-radius: 50px;
  color: white;
  opacity: 100%;
}
.home-page-container .header-bar .left:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
.home-page-container .header-bar .right {
  font-size: 1.5rem;
  margin-right: 1%;
  opacity: 100%;
  width: 25%;
}
.home-page-container .header-bar .right nav {
  width: 100%;
}
.home-page-container .header-bar .right nav a {
  text-decoration: none;
  margin: 1%;
  padding-right: 2%;
}
.about-page-container .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: none;
  opacity: 100%;
  color: black;
  font-size: 2rem;
}
.about-page-container .header-bar .left {
  font-size: 2rem;
  background-color: #c75050;
  padding: 1%;
  border-radius: 50px;
  color: white;
  opacity: 100%;
}
.about-page-container .header-bar .left:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
.about-page-container .header-bar .right {
  font-size: 1.5rem;
  margin-right: 1%;
  opacity: 100%;
  width: 25%;
}
.about-page-container .header-bar .right nav {
  width: 100%;
}
.about-page-container .header-bar .right nav a {
  text-decoration: none;
  margin: 1%;
  padding-right: 2%;
  color: white;
}
.page-footer {
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 1%;
  background-color: #c75050;
  color: white;
  align-items: center;
}
.home-about-page-footer {
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 1%;
  background-color: #c75050;
  color: white;
  align-items: center;
  margin-top: 8%;
}
.middle-content {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
}
.middle-content img {
  height: 150px;
  width: 150px;
}
.middle-content .products-section {
  background-color: white;
  width: 90%;
  height: 100%;
  margin-top: 2.5%;
}
.middle-content .products-section .search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5%;
  width: 100%;
  margin-top: 2.5%;
  font-size: 1.5rem;
}
.middle-content .products-section .products1 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle-content .products-section .products1 .item {
  width: 200px;
  height: 225px;
}
.middle-content .products-section .products1 .item .produce-image {
  height: 150px;
  width: 150px;
  margin-left: 25px;
}
.middle-content .products-section .products1 .item .produce-image:hover {
  transform: scale(1.1);
}
.middle-content .products-section .products1 .item .produce-description {
  margin: 10px 0 0 25px;
  font-size: 1.2rem;
  font-weight: bold;
}
.middle-content .products-section .products1 .item .add-cart {
  margin: 10px 0 0 25px;
  font-style: italic;
  text-decoration: underline;
}
.middle-content .products-section .products2 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle-content .products-section .products2 .item {
  width: 200px;
  height: 225px;
}
.middle-content .products-section .products2 .item .produce-image {
  height: 150px;
  width: 150px;
  margin-left: 25px;
}
.middle-content .products-section .products2 .item .produce-image:hover {
  transform: scale(1.1);
}
.middle-content .products-section .products2 .item .produce-description {
  margin: 10px 0 0 25px;
  font-size: 1.2rem;
  font-weight: bold;
}
.middle-content .products-section .products2 .item .add-cart {
  margin: 10px 0 0 25px;
  font-style: italic;
  text-decoration: underline;
}
.about-middle {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
}
.about-middle .bio-section {
  width: 90%;
  height: 100%;
  margin-top: 2.5%;
}
.about-middle .bio-section .section1 {
  display: flex;
  width: 100%;
  height: 305px;
}
.about-middle .bio-section .section1 .part1 {
  padding: 5%;
  font-size: 2rem;
  background-color: rgba(155, 155, 155, 0.75);
  color: white;
}
.about-middle .bio-section .section1 .part2 img {
  height: 300px;
  width: 500px;
}
.about-middle .bio-section .section2 {
  width: 100%;
  height: 305px;
  display: flex;
}
.about-middle .bio-section .section2 .part1 img {
  height: 300px;
  width: 500px;
}
.about-middle .bio-section .section2 .part2 {
  padding: 5%;
  font-size: 2rem;
  background-color: rgba(155, 155, 155, 0.75);
  color: white;
}
.login-middle-content {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
}
.login-middle-content .log-in-prompt {
  padding-bottom: 25px;
  font-size: 1.8rem;
  color: gray;
}
.login-middle-content .login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100px;
  padding: 2% 2% 10%;
  margin-top: 5%;
  border-radius: 15px;
}
.login-middle-content .login-form input {
  font-size: 1.5rem;
}
.login-middle-content .login-form .remember-pass {
  display: flex;
  flex: start;
  color: #9b9b9b;
}
.login-middle-content .login-form .remember-pass .check-box {
  border: 1px solid gray;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.login-middle-content .login-form .sign-in-button {
  border-radius: 10px;
  background-color: #c75050;
  color: white;
  padding: 4%;
  font-weight: bold;
  text-align: center;
}
.login-middle-content .login-form .sign-in-button a {
  text-decoration: none;
  color: white;
}
.login-middle-content .login-form .sign-in-button:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
.login-middle-content .login-form .sign-in-button:hover a {
  text-decoration: none;
  color: #c75050;
}
.register-middle-content {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
}
.register-middle-content .register-prompt {
  padding-bottom: 25px;
  font-size: 1.5rem;
  color: gray;
}
.register-middle-content .register-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100px;
  padding: 2% 2% 22%;
  margin-top: 5%;
  border-radius: 15px;
}
.register-middle-content .register-form input {
  font-size: 1.5rem;
}
.register-middle-content .register-form .remember-pass {
  display: flex;
  flex: start;
  color: #9b9b9b;
}
.register-middle-content .register-form .remember-pass .check-box {
  border: 1px solid gray;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.register-middle-content .register-form .sign-in-button {
  border-radius: 10px;
  background-color: #c75050;
  color: white;
  padding: 4%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.register-middle-content .register-form .sign-in-button a {
  text-decoration: none;
  color: white;
}
.register-middle-content .register-form .sign-in-button:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
.register-middle-content .register-form .sign-in-button:hover a {
  text-decoration: none;
  color: #c75050;
}
.home-page-container {
  background-image: url(../img/field-crops.jpeg);
  height: 875px;
  width: 100%;
}
.about-page-container {
  background-image: url(../img/vineyard.jpg);
  height: 875px;
  width: 100%;
}
.login-register-page-container {
  background-image: url(../img/produce2.jpg);
  height: 875px;
  width: 100%;
}
