/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: none;
  opacity: 100%;
  color: black;
  font-size: 2rem;
}
.header-bar .left {
  border: 1px solid white;
  padding: 1%;
  opacity: 100%;
  color: white;
}
.header-bar .left:hover {
  transform: scale(1.1);
  color: #c75050;
}
.header-bar .center {
  font-size: 2rem;
  background-color: #c75050;
  padding: 1%;
  border-radius: 50px;
  color: white;
  opacity: 100%;
}
.header-bar .center:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
.header-bar .right {
  font-size: 1.5rem;
  padding: 0.5%;
  margin-right: 1%;
  opacity: 100%;
}
.header-bar .right:hover {
  color: #c75050;
  transform: scale(1.2);
}
.page-footer {
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 1%;
  background-color: #c75050;
  color: white;
  align-items: center;
}
.page-container {
  background-image: url(../img/field-crops.jpeg);
  height: 900px;
  width: 100%;
}
.home-page-container {
  background-image: url(../img/produce.jpeg);
}
.account-page-container {
  background-image: url(../img/produce.jpeg);
}
.about-page-container {
  background-image: url(../img/vineyard.jpg);
}
.login-page-container {
  background-image: url(../img/produce2.jpg);
  height: 875px;
  width: 100%;
}
.middle-content {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
}
.middle-content .sign-up-prompt {
  padding-bottom: 25px;
  font-size: 1.5rem;
  color: gray;
}
.middle-content .buyer-signup-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 200px;
  padding: 2% 2% 10%;
  margin-top: 5%;
  border-radius: 15px;
}
.middle-content .buyer-signup-form input {
  font-size: 1.5rem;
}
.middle-content .farmer-signup-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 5%;
  margin-top: 5%;
  padding: 2% 2% 10%;
  border-radius: 15px;
}
.middle-content .farmer-signup-form input {
  font-size: 1.5rem;
}
.lower-content {
  width: 100%;
  height: 510px;
  display: flex;
  justify-content: space-evenly;
}
.lower-content .image-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2%;
}
.lower-content .lower-content-pics {
  display: flex;
}
.lower-content .lower-content-pics .people-pics {
  padding: 7.5%;
}
.lower-content .lower-content-pics .people-pics img {
  height: 300px;
  width: 300px;
}
.even-lower-content {
  background-color: #c9ee8f;
  width: 100%;
  height: 310px;
}
.even-lower-content h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 10%;
  padding-top: 5%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.even-lower-content p {
  display: flex;
  justify-content: center;
}
.login-middle-content {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
}
.login-middle-content .log-in-prompt {
  padding-bottom: 25px;
  font-size: 1.5rem;
  color: gray;
}
.login-middle-content .login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100px;
  padding: 2% 2% 8%;
  margin-top: 5%;
  border-radius: 15px;
}
.login-middle-content .login-form input {
  font-size: 1.5rem;
}
.login-middle-content .login-form .remember-pass {
  display: flex;
  flex: start;
  color: #9b9b9b;
}
.login-middle-content .login-form .remember-pass .check-box {
  border: 1px solid gray;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.login-middle-content .login-form .sign-in-button {
  border-radius: 10px;
  background-color: #c75050;
  color: white;
  padding: 4%;
  font-weight: bold;
  text-align: center;
}
.login-middle-content .login-form .sign-in-button:hover {
  background-color: white;
  color: #c75050;
  border: 1px solid #c75050;
}
