.page-footer{
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 1%;
    background-color: @farm-red;
    color: white;
    align-items: center;
}

.home-about-page-footer{
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 1%;
    background-color: @farm-red;
    color: white;
    align-items: center;
    margin-top: 8%;
}

//Tablet
@media @tablet {
    .home-about-page-footer{
        height: 10%;
        padding-top: 2%;
    }
}


//Mobile
@media @phone {
    .home-about-page-footer{
        height: 60px;
        padding-top: 5%;
    }
}