.footer{
    display: flex;
    height: 5px;
    justify-content: space-between;
    padding: 1%;
    color: @white;
}

// footer for Login
.footer-login{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 1%;
    background-color: @farm-red;
    color: @white;
}