// Landing Page Content

.page-container{
    background-image: url(../img/field-crops.jpeg);
    height: 900px;
    width: 100%;
}
.home-page-container{
    background-color: green;
}

.account-page-container{
    background-image: url(../img/produce.jpeg);
}

.about-page-container{
    background-image: url(../img/vineyard.jpg);
}

.login-page-container{
    background-image: url(../img/produce2.jpg);
    height: 875px;
    width: 100%;
}



.middle-content{
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;

    .sign-up-prompt{
        padding-bottom: 25px;
        font-size: 1.5rem;
        color: gray;
    }
    
    .buyer-signup-form{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 200px;
        padding: 2% 2% 10%;
        margin-top: 5%;
        border-radius: 15px;

        input{
            font-size: 1.5rem;
        }
    }

    .farmer-signup-form{
        background-color: white;
        height: 200px;
        display: flex;
        flex-direction: column;
        height: 200px;
        padding: 5%;
        margin-top: 5%;
        padding: 2% 2% 10%;
        border-radius: 15px;

        input{
            font-size: 1.5rem;
        }
    }
}

.lower-content{

    width: 100%;
    height: 510px;
    display:flex;
    justify-content: space-evenly;

    .image-header{
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 2%;
    }

    .lower-content-pics{
        display:flex;
        
        .people-pics{
            padding: 7.5%;

            img{
                height: 300px;
                width: 300px;
            }
        }
    }
}

.even-lower-content{
    background-color: rgb(201, 238, 143);
    width: 100%;
    height: 310px;;

    h1{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin: 10%;
        padding-top: 5%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p{
        display: flex;
        justify-content: center;
    }
}

