.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: none;
    opacity: 50%;
    color: black;
    font-size: 2rem;
    // background-color: rgb(201, 238, 143);

    .left{
        border: 1px solid white;
        padding: 1%;
        
    }
    .left:hover{
        transform: scale(1.2);
        color: rgb(199, 80, 80);
    }
    .center{
        font-size: 2rem;
        background-color: rgb(199, 80, 80);
        padding: 1%;
        border-radius: 50px;
        color: white;
    }
    .center:hover{
        transform: scale(1.1);
        background-color: white;
        color: rgb(199, 80, 80);

    }
    .right{
        font-size: 1.5rem; 
        padding: .5%;
        margin-right: 1%;   

    }
    .right:hover{
        color: rgb(199, 80, 80);
        transform: scale(1.2);
    }
} // End Header Bar